/* Server folders */
.expandedFolderIconWrapper-3RwQpD path {
    display: none;
}
.folder-1hbNCn {
    background-color: rgb(0, 0, 0)!important;
}
#app-mount .expandedFolderBackground-1kSAf6 {
    background-color: rgba(0, 0, 0, 0.459);
}
#app-mount .childWrapper-1j_1ub {
    background-color: rgb(0, 0, 0);
}
.folderIconWrapper-1oRIZr {
    background-color: #000;
    border-radius: 1px;
}
.closedFolderIconWrapper-3tRb2d {
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 15px;
}
#app-mount .expandedFolderIconWrapper-3RwQpD {
    width: 24px;
    height: 24px;
    margin-left: 12px;
    margin-top: 12px;
    -webkit-mask: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10.496 2.132a1 1 0 00-.992 0l-7 4A1 1 0 003 8v7a1 1 0 100 2h14a1 1 0 100-2V8a1 1 0 00.496-1.868l-7-4zM6 9a1 1 0 00-1 1v3a1 1 0 102 0v-3a1 1 0 00-1-1zm3 1a1 1 0 012 0v3a1 1 0 11-2 0v-3zm5-1a1 1 0 00-1 1v3a1 1 0 102 0v-3a1 1 0 00-1-1z" clip-rule="evenodd" /></svg>') center/cover;
            mask: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10.496 2.132a1 1 0 00-.992 0l-7 4A1 1 0 003 8v7a1 1 0 100 2h14a1 1 0 100-2V8a1 1 0 00.496-1.868l-7-4zM6 9a1 1 0 00-1 1v3a1 1 0 102 0v-3a1 1 0 00-1-1zm3 1a1 1 0 012 0v3a1 1 0 11-2 0v-3zm5-1a1 1 0 00-1 1v3a1 1 0 102 0v-3a1 1 0 00-1-1z" clip-rule="evenodd" /></svg>') center/cover;
    background: rgb(255, 255, 255);
}
.childWrapper-1j_1ub {
    background-color: transparent !important;
}
