/* Context menu blur (Right click panel) */
.menu-1QACrS, .scroller-1bVxF5 {
    background-color: rgba(255, 255, 255, 0.075) !important;
    backdrop-filter: blur(15px);
    border-radius: 0px;
}

/* Status picker menu to match with server channel list width */
:root #status-picker {
    width: 230px;
}
