/* CSS editor size limit reset */
#floating-editor-window.resizable {
    max-height: unset;
    max-width: unset;
}

/* CSS editor recolor */
.floating-window-titlebar {
    background-color: rgb(255, 166, 0);
}
#bd-editor-controls {
    background-color: rgb(255, 78, 78) !important;
}
.title {
    color: black !important;
    letter-spacing: 4px;
}
.floating-window-buttons {
    background-color: black !important;
}
#bd-editor-controls button {
    color: white;
    background-color: black;
}
